body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
}

h1 {
    margin-bottom: 20px;
}

#fileInput {
    margin-bottom: 20px;
}

#showTablesButton {
    margin-bottom: 20px;
}

#output {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.student-count {
    font-weight: bold;
    margin-bottom: 20px;
}
.arrow {
    margin-left: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
}

.sorted {
    cursor: pointer;
}
.sorted::after {
    content: ' \25B2'; /* Arrow up */
    font-size: 0.7em;
}
.sorted.desc::after {
    content: ' \25BC'; /* Arrow down */
}

label{
    font-weight: bold;
}